<!DOCTYPE html>
<html ng-app="log">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.js" type="text/javascript"></script>
    <script type="text/javascript">
angular.module('log', []).controller('mainCtrl', function ($scope, $http) {
  $scope.data = { entries: [] };
  $http.get('/log').then(function (resp) {
    $scope.data.entries = resp.data.map(function (v) { v.createdAt = new Date(v.createdAt); return v; });
  });
});
    </script>
  </head>
  <body ng-controller="mainCtrl">
    <table>
      <tr ng-repeat="entry in data.entries">
        <td>{{entry.createdAt}}</td>
        <td>{{entry.from}}</td>
        <td>{{entry.msg}}</td>
      </tr>
    </table>
  </body>
</html>
